body{
    color: aliceblue;
    background-color: black;


}

.nav {

    color: aliceblue;
    background-color: transparent !important;
    
    
}
h2 {
    border-bottom: 30px;
    text-align: center;
    border-top: 30px;
}

.icon-article {
    text-align: center;
}

footer  { 
    background-color: aqua;
    padding-top: 30px;
    margin-top: 30px;
    
}

.fat{
    font-size: 25px;
}


