
:root{
    --roboto:"Roboto", sans-serif;
    --roboto-light:300; 
    --roboto-regular:400;
    --roboto-bold:700;
    --cyan:#00FFFF;
    --white:white;
    --black:black;
}




body {
    font-family:var(--roboto);
    font-size:14px;
    font-weight: var(--roboto-light);
    color:var(--black)


}

.c-black{
    color:var(--black)
}
.c-white{
    color:var(--white)
}
.bg-black{
    background-color:var(--black)
}
.bg-white{
    background-color:var(--white)
}
.bg-cyan{
    background-color:var(--cyan)
}



.navbar {
    position: fixed;
    color: aliceblue;
    z-index:1000;
    width:100%;
}
.navbar .nav-item a {
    color:white!important;
}


h2 {
    text-align: center;

}

.icon-article {
    text-align: center;
}




.icon-article {
    text-align: center;
    background-color: var(--cyan);
    height: 50px;
}





.hero-section{
    height: 90vh;
    overflow: hidden;
}

.section-destacados .card{
    border:none!important;
}

.image-cutter{
    overflow: hidden;
    max-height: 180px;
}
.image-size {


}